div {
    position: absolute;
    background-color: whitesmoke;
}

.header {
    font-weight: bold;
}

.header_1 {
    font-size: large;
    color: greenyellow;
    background-color: black;
}

.header_2 {
    font-size: large;
    color: green;
    background-color: black;
}

.header_3 {
    font-size: medium;
    color: blueviolet;
    background-color: black;
}

.header_4 {
    font-size: medium;
    color: blue;
    background-color: black;
}

.header_5 {
    font-size: small;
    color:aquamarine;
    background-color: black;
}

.header_6 {
    font-size: small;
    color: aqua;
    background-color: black;
}

